
.regist-form-wrapper{
    box-shadow: 0px 1px 10px 2px;
    border-radius: 15px;
}
.regist-form-wrapper a{
    color:#E429A9;
}
.regist-form-wrapper a:hover{
    color:#09F2FF;
}

.form-container {
    
    padding: 20px;
    width: 300px;
    background-color: #fff;
    
}


.form-field {
    margin-bottom: 25px;
}
.form-field-narrow{
    margin-bottom: 10px !important;

}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input {
    width: 100%;
    padding: 5px;
    border: 1px solid #E429A9;
    border-radius: 10px;
    height: 45px;
}

.form-field input[type="submit"] {
    background-color: #E429A9;
    border: 1px solid #E429A9;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.form-field input[type="submit"]:hover {
    background-color: #09F2FF;
}

.regist-form-wrapper input:focus {
    border: 1px solid #09F2FF;
    outline: #09F2FF;
}

